@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 15, 15, 17; /* Noir Boreal */
  --background-end-rgb: 15, 15, 17;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #0f0f11; /* Force le fond noir partout */
  overflow-x: hidden; /* Évite le scroll horizontal */
}

/* On s'assure que Next.js ne rajoute pas de marge bizarre */
html, body {
  height: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box; /* Évite que les paddings augmentent la largeur */
}